<div class="container">

  <div class="row">
    <h2>{{title}}</h2>
  
    <table class="table table-hover table-bordered table-stripped table-responsive">
      <thead>
 <tr>
  <th>ID</th>
  <th>NAME</th>
  <th>LIKES</th>
  <th>DISLIKES</th>
  <th>LIKE IT</th>
  <th>DISLIKE IT</th>
  </tr>

</thead>
<tbody>
<tr *ngFor="let t of technologies">
  <td>{{t.id}}</td>
  <td>{{t.name}}</td>
  <td>{{t.likes}}</td>
  <td>{{t.dislikes}}</td>
  <td><input type="button"  class="btn btn-success" value="Like It" (click)="incrementLikes(t)"></td>
  <td><input type="button"  class="btn btn-info" value="DisLike It" (click)="incrementDislikes(t)"></td>
</tr>



</tbody>
    </table>


  </div>


</div>